.circleContainer {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circleBorder {
  position: absolute;
  border: 2px dashed #000a33;
  border-radius: 50%;
  // background: url('../assets/border.jpg') center/cover no-repeat;
}

.circleBorder:nth-child(1) {
  width: 600px;
  height: 600px;
}
.circleBorder:nth-child(2) {
  width: 520px;
  height: 520px;
}
.circleBorder:nth-child(3) {
  width: 440px;
  height: 440px;
  }

.carouselCircle {
  width: 600px;
  height: 600px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}

.carouselImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carouselOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.navBtn {
  width: 60px;
  min-width: 60px;
  height: 60px;
  border-radius: 50%;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  cursor: pointer;
}

.dots {
  position: absolute;
  top: 50px;
  left: 50%;
  width: 700px;
  height: 700px;
  background-image: radial-gradient(circle, #8a2be2 1px, transparent 1px);
  background-size: 20px 20px;
  transform: translateX(-50%);
  transform-origin: center center; /* <--- This is important */
  opacity: 0.3;
  border-radius: 50%;
  z-index: 0;
  animation: rotateAnimation 20s linear infinite;
}

@keyframes rotateAnimation {
  from {
    transform: translateX(-50%) rotate(0deg);
  }
  to {
    transform: translateX(-50%) rotate(360deg);
  }
}

