.container {
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
  background-color: #020330;
  color: white;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  text-align: center;
}

.overlay h1 {
  font-size: 4rem;
  font-weight: 800;
  margin-bottom: 1rem;
}

.overlay p {
  font-size: 1rem;
  color: #ccc;
  margin-bottom: 1.5rem;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}
